/* === Remove the fullscreen mode warning border === */
#fullscreen-warning {
        display: none !important;
}



/* === Remove the border and background of the address bar === */
#urlbar-background {
        border: none !important;
        outline: none !important;
        transition: .15s !important; /* Add a transition effect */
}
/* === Make the address bar transparent when not in use === */
#urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {
        box-shadow: none !important;
        background: #0000 !important; /* Transparent background */
}

/* === Remove the "Search with..." suggestion in the address bar === */
#urlbar .search-one-offs {
        display: none !important;
}

/* === Hide certain icons in the address bar === */
#identity-permission-box, /* Site permissions */
#star-button-box, /* Bookmark star */
#alltabs-button, /* "All Tabs" button */
#identity-icon-box, /* Site identity icon */
#picture-in-picture-button, /* Picture-in-picture mode button */
#tracking-protection-icon-container, /* Tracking protection icon */
#reader-mode-button, /* Reader mode button */
#translations-button { /* Translation button */
        display: none !important;
}



/* === Change the "New Tab" button icon to a plus sign (+) === */
#new-tab-button {
        list-style-image: url(chrome://global/skin/icons/plus.svg) !important;
}
/* === Remove the Firefox menu button (hamburger menu) in the top right corner === */
#PanelUI-button {
        display: none !important;
}
/* === Remove the extensions management button === */
#unified-extensions-button {
        display: none !important;
}



/* === Hide the identity label in extension pages === */
/*#identity-box.extensionPage #identity-icon-label {*/
/*        visibility: collapse !important; /* Hide the "Extension Page" text label */*/
/*}*/

/* === Remove the border of the navigation toolbar === */
/*#navigator-toolbox {*/
/*        border: none !important;*/
/*}*/
